//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "oops.example.com" {
	type master;
	file "/etc/bind/oops.example.com.zone";
	also-notify {192.0.2.2; 192.0.2.3; 192.0.2.4; 2001:db8::2; 2001:db8::3; 2001:db8::4;};
};
